*~
_*
o.ben/
o.codex/
o.josmp/
o.linux/
o.linuxmtrace/
o.mtrace/
o.native/
o.qemu/
o.syslinux/
o.tom/
/mtrace.out
/mtrace.txt
/mscan.out
/mscan.sorted
/mscan.syms
/mscan.kern
config.mk
lwip
/.passwd.*
.gdb_history
cscope.out
cscope.files
tags
bin/hello.cc
mscan.*.out
*.swp
*.log
cscope.*
/libutil/testgen.c
/libutil/testgen.*.c
